In [19]:
import pandas as pd
import numpy  as np
import seaborn as sns

### Problem 1 - Read the data set and replace dashes with 0

In [20]:
# Reading the laliga file into dataframe "laliga"
laliga = pd.read_csv("laliga.csv")
laliga.head()

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1

In [21]:
# Printing a row with dashes
laliga.iloc[6]

Pos                     7
Team             Espanyol
Seasons                82
Points               2792
GamesPlayed          2626
GamesWon              948
GamesDrawn            608
GamesLost            1070
GoalsFor             3609
GoalsAgainst         3889
Champion                -
Runner-up               -
Third                   4
Fourth                  5
Fifth                   2
Sixth                   5
T                      16
Debut                1929
Since/LastApp     1994-95
BestPosition            3
Name: 6, dtype: object

In [22]:
# Replace "-" with 0 and check
laliga.replace(to_replace="-", value=0, inplace=True)
laliga.iloc[6]

Pos                     7
Team             Espanyol
Seasons                82
Points               2792
GamesPlayed          2626
GamesWon              948
GamesDrawn            608
GamesLost            1070
GoalsFor             3609
GoalsAgainst         3889
Champion                0
Runner-up               0
Third                   4
Fourth                  5
Fifth                   2
Sixth                   5
T                      16
Debut                1929
Since/LastApp     1994-95
BestPosition            3
Name: 6, dtype: object

### Problem 2 - Print all the teams who made their debut between 1930-1980

In [23]:
#Create a new column Debut_Year that has debut column type casted into int for the first four digits

laliga['Debut_Year'] = laliga['Debut'].astype(str).str[:4].astype(int)
laliga['Debut_Year'].head()

0    1929
1    1929
2    1929
3    1931
4    1929
Name: Debut_Year, dtype: int32

In [24]:
# Printing all teams who debuted between 1930-80 and sorted them in ascending order
print(laliga[laliga["Debut_Year"].between(1930, 1980)].sort_values(by=["Debut_Year"], axis=0, ascending=True)[["Team", "Debut"]])

                   Team    Debut
28               Alaves  1930-31
3              Valencia  1931-32
9            Real Betis  1932-33
17               Oviedo  1933-34
5               Sevilla  1934-35
25             Hercules  1935-36
15              Osasuna  1935-36
8              Zaragoza  1939-40
11           Celta Vigo  1939-40
27               Murcia  1940-41
21              Granada  1941-42
10  Deportivo La Coruna  1941-42
34            Castellon  1941-42
31             Sabadell  1943-44
14       Sporting Gijon  1944-45
49             Alcoyano  1945-46
46            Gimnastic  1947-48
12           Valladolid  1948-49
16               Malaga  1949-50
54               Lleida  1950-51
19           Las Palmas  1951-52
58      Atletico Tetuan  1951-52
50                 Jaen  1953-54
59     Cultural Leonesa  1955-56
57               Condal  1956-57
23                Elche  1959-60
18             Mallorca  1960-61
26             Tenerife  1961-62
37              Cordoba  1962-63
29              Levante  1963-64
41           Pontevedra  1963-64
40            Burgos CF  1971-72
30            Salamanca  1974-75
22       Rayo Vallecano  1977-78
32                Cadiz  1977-78
39           Recreativo  1978-79
52           AD Almeria  1979-80

### Problem 3 - Print the list of teams which came Top 5 in terms of points

In [25]:
# Check datatype of Points column
laliga.dtypes["Points"]

dtype('O')

In [26]:
# Convert to numeric and sort for Points column
laliga['Points'] = pd.to_numeric(laliga['Points'], errors='coerce')
laliga_sort = laliga.sort_values(by=["Points"], ascending=False)
print(laliga_sort[["Team","Points"]].head(5))

              Team  Points
0      Real Madrid    4385
1        Barcelona    4262
2  Atletico Madrid    3442
3         Valencia    3386
4  Athletic Bilbao    3368

### Problem 4 - Write a function with name “Goal_diff_count” which should return all the teams with their Goal Differences.  Using the same function, find the team which has maximum and minimum goal difference.

In [27]:
# Check the datatypes for GoalsFor and GoalsAgainst columns
laliga.dtypes[["GoalsFor", "GoalsAgainst"]]

GoalsFor        object
GoalsAgainst    object
dtype: object

In [28]:
# Convert them to Numeric
laliga["GoalsFor"] = pd.to_numeric(laliga["GoalsFor"], errors="coerce")
laliga["GoalsAgainst"] = pd.to_numeric(laliga[ "GoalsAgainst"], errors="coerce")
laliga.dtypes[["GoalsFor", "GoalsAgainst"]]

GoalsFor        int64
GoalsAgainst    int64
dtype: object

In [29]:
# Define function that returns teams with goal difference. Print teams with highest and lowest goal difference
def Goal_diff_count():
    laliga["Goal_Diff"] = laliga["GoalsFor"] - laliga["GoalsAgainst"]
    laliga_Team_Goal_Diff = laliga[["Team", "Goal_Diff"]]
    print("Team with Highest Goal Difference")
    print(laliga_Team_Goal_Diff.iloc[laliga_Team_Goal_Diff["Goal_Diff"].idxmax(axis=0)])
    print('')
    print("Team with Lowest Goal Difference")
    print(laliga_Team_Goal_Diff.iloc[laliga_Team_Goal_Diff["Goal_Diff"].idxmin(axis=0)])
    return laliga_Team_Goal_Diff

In [30]:
laliga_Team_Goal_Diff = Goal_diff_count()

Team with Highest Goal Difference
Team         Real Madrid
Goal_Diff           2807
Name: 0, dtype: object

Team with Lowest Goal Difference
Team         Racing Santander
Goal_Diff                -525
Name: 13, dtype: object

In [31]:
laliga_Team_Goal_Diff.head(10)

              Team  Goal_Diff
0      Real Madrid       2807
1        Barcelona       2786
2  Atletico Madrid       1225
3         Valencia        929
4  Athletic Bilbao        931
5          Sevilla        307
6         Espanyol       -280
7    Real Sociedad         -2
8         Zaragoza       -164
9       Real Betis       -333

### Problem 4 - Create a new column with the name “Winning Percent” and append it to the data set

In [32]:
# Check the datatypes for GamesWon and GoalsAGamesPlayed
laliga.dtypes[["GamesWon", "GamesPlayed"]]

GamesWon       object
GamesPlayed    object
dtype: object

In [33]:
# Convert them to Numeric
laliga["GamesWon"] = pd.to_numeric(laliga["GamesWon"], errors="coerce")
laliga["GamesPlayed"] = pd.to_numeric(laliga[ "GamesPlayed"], errors="coerce")
laliga.dtypes[["GamesWon", "GamesPlayed"]]

GamesWon       int64
GamesPlayed    int64
dtype: object

In [34]:
# Calculate Winning Percent, round it off to zero decimals and fill NaN with 0
laliga["Winning Percent"] = ((laliga["GamesWon"]/laliga["GamesPlayed"])*100).round(decimals=0)
laliga["Winning Percent"].fillna(0, inplace=True)

In [35]:
# Print top 5 teams with highest percentage
laliga[["Team","Winning Percent"]].sort_values(by=["Winning Percent"], ascending=False).head(5)

              Team  Winning Percent
0      Real Madrid             60.0
1        Barcelona             57.0
2  Atletico Madrid             47.0
3         Valencia             45.0
4  Athletic Bilbao             44.0

### Problem 5 - Group teams based on their “Best position” and print the sum of their points for all positions

In [36]:
# Group by BestPosition and print sum of points for each position
grouped = laliga.groupby(['BestPosition'])['Points'].sum()
grouped.head()

BestPosition
1    27933
2     6904
3     5221
4     6563
5     1884
Name: Points, dtype: int64